<div class="graph-area" id="graph-list">
    <mat-expansion-panel #nodesElements [id]="'node-'+node.name" [ngClass]="node.active ? 'node-on-top' : 'node-on-same'" *ngFor="let node of graph.nodes" cdkDrag cdkDragBoundary=".graph-area" [cdkDragFreeDragPosition]="node.graphPosition" (cdkDragEnded)="saveNodePosition($event, node)" [togglePosition]="'before'" (click)="makeNodeActive(node)" (cdkDragReleased)="updateLines()" (afterCollapse)="updateLines()" (afterExpand)="updateLines()">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{node.name}}
            </mat-panel-title>
            <button mat-icon-button [matMenuTriggerFor]="linksMenu" aria-label="Example icon-button with a menu" (click)="$event.stopPropagation()" (mousedown)="makeNodeActive(node)">
                <mat-icon>forward</mat-icon>
            </button>
            <mat-menu #linksMenu="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="subLinksMenu" [matMenuTriggerData]="{linkTo: link.to?.name, linkName: link.name}" *ngFor="let link of getExistingLinksByNode(node)">
                    <mat-icon>more_vert</mat-icon>
                    <span>Link to {{link.to?.name}}</span>
                </button>
                <button mat-menu-item [matMenuTriggerFor]="subLinksMenu">
                    <mat-icon>more_vert</mat-icon>
                    <span>New link</span>
                </button>
            </mat-menu>
            <mat-menu #subLinksMenu="matMenu">
                <ng-template matMenuContent let-linkTo="linkTo" let-linkName="linkName">
                    <button mat-menu-item *ngFor="let targetNode of graph.nodes | filterNodesExclude: node" (click)="addLinkDialog(node, targetNode, linkName)">
                        <mat-icon>{{(linkTo == targetNode.name) ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>
                        <span>{{targetNode.name}}</span>
                    </button>
                    <button mat-menu-item *ngIf="!(graph.nodes | filterNodesExclude: node).length" disabled>
                        <mat-icon>check_box_outline_blank</mat-icon>
                        <span>No availible node</span>
                    </button>
                </ng-template>
            </mat-menu>

            <div class="node-handle" cdkDragHandle (mousedown)="makeNodeActive(node)" (click)="$event.stopPropagation()">
                <button mat-icon-button>
                    <mat-icon>open_with</mat-icon>
                </button>
            </div>
        </mat-expansion-panel-header>
        <p>Class: {{node.class}}</p>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="node.name">
        </mat-form-field>
        <mat-form-field *ngFor="let param of node.params">
            <mat-label>{{param.name}}</mat-label>
            <input matInput [(ngModel)]="param.value">
        </mat-form-field>
        <p>
        <button mat-mini-fab color="warn" (click)="removeNode(node)">
            <mat-icon>cancel</mat-icon>
        </button>
        </p>
    </mat-expansion-panel>
</div>
