.graph-area {
    background-color: gainsboro;
    width: 100%;
    height: 100%;
    display: block;
}

.mat-expansion-panel {
    position: absolute;
    max-width: 300px;
}

.node-on-top {
    z-index: 999;
}

.node-on-same {
    z-index: 500;
}
