<h1 mat-dialog-title>{{newLink ? 'New link' : 'Editting link'}}</h1>
<div mat-dialog-content>
    <p>Class: {{link.class}}</p>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="link.name">
        </mat-form-field>
    </p>
    <p>
    <mat-form-field appearance="fill">
        <mat-label>Class</mat-label>
        <mat-select [(ngModel)]="link.class">
          <mat-option *ngFor="let pipe of pipes" value="{{pipe.name}}">{{pipe.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Input</mat-label>
            <mat-select [(ngModel)]="link.to_index">
              <mat-option *ngFor="let input of inputsCnt" [value]=input>input {{input}}</mat-option>
            </mat-select>
        </mat-form-field>
        </p>
    <p>
        <mat-form-field *ngFor="let param of getPipeParams(link.class)">
            <mat-label>{{param.name}}</mat-label>
            <input matInput [(ngModel)]="param.value">
        </mat-form-field>
    </p>
    <p>
        <button mat-mini-fab color="primary" [mat-dialog-close]="link">
            <mat-icon>{{newLink ? 'add' : 'check'}}</mat-icon>
        </button>
        <button mat-mini-fab color="warn" (click)="removeLink()">
            <mat-icon>{{newLink ? 'cancel' : 'delete'}}</mat-icon>
        </button>
    </p>
</div>