<mat-accordion class="classes-list">
    <mat-expansion-panel *ngFor="let class of classes" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{class.name}}
            </mat-panel-title>
            <mat-panel-description>
                <button mat-icon-button (click)="addNewNode(class);$event.stopPropagation()">
                    <mat-icon>add</mat-icon>
                </button>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{class.description}}</p>
        <mat-list>
            <mat-list-item lines="3" *ngFor="let param of class.params">
                <span matListItemTitle>{{param.name}}</span>
                <span matListItemLine>Description: {{param.description}}</span>
                <span matListItemLine>Value: {{param.value}}</span>
            </mat-list-item>
        </mat-list>
    </mat-expansion-panel>
</mat-accordion>